body{
   background-color: blue;
   margin: 0;
}

#bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 550px;
}

#mario{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 45%;
}

#marioRunning{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 45%;
    display: none;
}

