
div{
    width: 200px;
    height: 200px;
}

#div1, #div4, #div7{
    background-color:brown;
}

#div2, #div5, #div8{
    background-color: goldenrod;
}

#div3, #div6, #div9{
    background-color: darkblue;
}

#div5{
    position: relative;
    bottom: 100px;
    left: 100px;
}

#div6{
    position: relative;
    bottom: 200px;
    left: 200px;
}

#div7{
    position: absolute;
    right: 0;
    z-index: 99;
}

#div8{
    position: absolute;
    right: 100px;
    top: 1340px;
    z-index: 50;
}

#div9{
    position: absolute;
    right: 200px;
    top: 1440px;
    z-index: 1;
}