body{
    font-family: sans-serif;
}

header div{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

main{
    width: 70%;
    margin: 0 auto;
}

header img{
    border-radius: 50%;
}

header h1{
    font-size: 50px;
}

article{
    box-sizing: border-box;
    width: 50%;
    float: left;
}

#first{
    padding-right: 10px;
}

#second{
    border-left: 3px solid black;
    padding-left: 10px;
}



